*.json
*.lock
*.o
*.d
*.pdf
*.png
*.gif
*.root
*.tex

computeBkgSyst
computeSignalSyst
computeJECSyst
computeEff
computeSigmaRef
computeSystPb
computeSystematics
drawLimitCurve
extractLimits
fitMtt
fritSignal
reduceDataset
reduceDatasetFromData
runLikelihoodScan
treatToyStuff
