*.json
*.lock
*.o
*.a
*.d
*.pdf
*.png
*.gif
*.root
*.tex
*.txt
nohup.out

computeBkgSyst
computeSignalSyst
computeJECSyst
computeEff
computeSigmaRef
computeSystPb
computeSystematics
drawLimitCurve
extractLimits
fitMtt
fritSignal
reduceDataset
reduceDatasetFromData
runLikelihoodScan
treatToyStuff
interpolatePdf
generateToyDataset
computeKeysPdfSyst
computeJECSystWithToys
computeCrystalBallSyst

# Folders
data_*_nominal_*_crystalball*/
analysis/*
